<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="root index">
    <h1><%= title %></h1>
    <div class="buttons">
      <a href="/new" class="button">+ New</a>
    </div>
    <div class="messages">
      <% for (const message of messages){ %>
        <div class="message-container">
          <%- include("messageItem", message); %>
          <a href="<%= `/message/${message.id}` %>" class="button">Open</a>
        </div>
      <% } %>
    </div>
  </div>
</body>
</html>