<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="root new">
    <h1><%= title %></h1>
    <form action="" method="post">
      <div class="form-row">
        <label>
          Name
          <input type="text" name="user" id="user">
        </label>
      </div>
      <div class="form-row">
        <label>
          Text
          <input type="text" name="text" id="text" autocomplete="off">
        </label>
      </div>
      <button>Submit</button>
    </form>
  </div>
</body>
</html>